@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --lightgray: hsl(212, 45%, 89%);
  --grayishblue: hsl(220, 15%, 55%);
  --darkblue: hsl(218, 44%, 22%);
}

.rounded {
  border-radius: 1rem;
}

body {
  background-color: var(--lightgray);
  font-family: "Outfit", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 20%;
  min-width: 280px;
  background-color: var(--white);
}

.content {
  padding: 1rem;
  text-align: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card__title {
  font-size: 1.2rem;
  color: var(--darkblue);
}

.card__text {
  font-size: 0.9rem;
  color: var(--grayishblue);
}
